Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

lefthook.yml:

# NOTE:
# please update `.github/workflows` when updating this file.

pre-commit:
  parallel: true
  commands:
    # general/security
    gitleaks:
      glob: "*"
      run: gitleaks git --verbose --staged
    # JS
    biome-fmt:
      tags: js style
      glob: "*.{js,ts,jsx,tsx}"
      run: biome format --fix {staged_files}
      stage_fixed: true
    biome-lint:
      tags: js lint
      glob: "*.{js,ts,jsx,tsx}"
      run: biome lint {staged_files}
    # Nix
    alejandra:
      tags: nix style
      glob: "*.nix"
      run: alejandra {staged_files}
      stage_fixed: true
    deadnix:
      tags: nix lint
      glob: "*.nix"
      run: deadnix --fail {staged_files}
    statix:
      tags: nix lint
      glob: "*.nix"
      run: statix check .

delete package-lock.json
  package-lock.json
Due: gitleaks

github/workflow: lock bun-version to 1.2.2
  .github/workflows/build.yml
  .github/workflows/static.yml
  .github/workflows/test.yml
Due: gitleaks

lint: move assets -> static because it should only be used for files that require static names
  web/static/favicon.png
  web/static/robots.txt
  web/svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

bun: migrate to workspace-style monorepo
  .env.sample
  .gitignore
  bun.lock
  package.json
  service/.env.sample
  service/package.json
  web/.env.example
  web/bun.lock
  web/package.json
Due: gitleaks

bun/scripts: add alias db
  package.json
Due: gitleaks

dev: move lefthook to bun-install
  bun.lock
  package.json
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

fmt: run nix fmt
  .github/workflows/test.yml
  justfile
Due: gitleaks

scripts: migrate to bun script
  README.md
  justfile
  package.json
  service/package.json
Due: gitleaks

github/workflow: fix
  .github/workflows/test.yml
  service/package.json
Due: gitleaks

fmt: format README and add 'fmt:md' hook to lefthook
  README.md
  lefthook.yml
Due: gitleaks

flake/fix: reinstall biome
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

feat: 基本的なページルーティングを実装
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/config/+page.ts
  web/src/routes/[projectId]/result/+page.svelte
  web/src/routes/[projectId]/result/+page.ts
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/[projectId]/submit/+page.ts
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

chore: private:true にしておいた
  package.json
Due: gitleaks

feat: daisyUI テーマを設定
  web/src/app.css
  web/src/routes/new/+page.svelte
Due: gitleaks

feat: スタイリングのサンプル
  web/src/app.css
  web/src/app.html
  web/src/components/header.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks

fix: dynamic routes のために SSG 用アダプタを外した
  bun.lock
  web/package.json
  web/src/routes/[projectId]/+layout.ts
  web/svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

fix: adapter-cloudflare を追加
  bun.lock
  web/package.json
  web/svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

ページのアウトラインを作成 (#2)
  bun.lock
  package.json
  web/package.json
  web/src/app.css
  web/src/app.html
  web/src/components/header.svelte
  web/src/routes/[projectId]/+layout.ts
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/config/+page.ts
  web/src/routes/[projectId]/result/+page.svelte
  web/src/routes/[projectId]/result/+page.ts
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/[projectId]/submit/+page.ts
  web/src/routes/new/+page.svelte
  web/svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

fix: bun run dev not recognizing root .env, feat: run build at root
  package.json
Due: gitleaks

feat: use same origin for web and service for easier preview
  web/src/routes/api/[...paths]/+server.ts
Due: gitleaks, biome-fmt, biome-lint

fix: remove hard-coded endpoint
  service/src/index.ts
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

結果表示ページの大枠を策定
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks

fix: move local db to root because it couldn't be found in web
  .gitignore
  package.json
  service/.gitignore
  service/db/client.ts
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

提出ページのUI
  web/src/routes/[projectId]/submit/+page.svelte
Due: gitleaks

新規ページのベース組み立て
  web/src/routes/new/+page.svelte
Due: gitleaks

lang="ts"を加える
  web/src/routes/new/+page.svelte
Due: gitleaks

微調整
  web/src/routes/[projectId]/submit/+page.svelte
Due: gitleaks

set up prod db binding
  service/db/client.ts
  service/package.json
  service/src/index.ts
  service/src/types.ts
  service/worker-configuration.d.ts
  service/wrangler.toml
  web/package.json
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix: wrap d1 in drizzle
  service/db/client.ts
Due: gitleaks, biome-fmt, biome-lint

endpointの実装
  service/db/schema.ts
  service/src/index.ts
  service/src/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

d1: set migration dir
  service/drizzle.config.ts
  service/utils/env.ts
  service/wrangler.toml
Due: gitleaks, biome-fmt, biome-lint

fix: fix ci failing
  service/db/client.ts
  web/src/scripts/service-conn-test.ts
Due: gitleaks, biome-fmt, biome-lint

結果表示ページの大枠を策定 (#3)
  web/src/routes/[projectId]/result/+page.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks

i
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  web/src/routes/+page.svelte
  web/src/scripts/service-conn-test.ts
Due: gitleaks, biome-fmt, biome-lint

fix errors
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  service/tsconfig.json
Due: gitleaks, biome-fmt, biome-lint

fix: server failing to start when c.env is undefined
  service/db/client.ts
Due: gitleaks, biome-fmt, biome-lint

fix: cannot read propety of undefined (reading CORS_ALLOW_ORIGINS
  service/utils/env.ts
Due: gitleaks, biome-fmt, biome-lint

fix: worker panicking for env CORS_ALLOW_ORIGINS not found
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

fix: Hono can't see cloudflare platform
  web/src/routes/api/[...paths]/+server.ts
Due: gitleaks, biome-fmt, biome-lint

test
  bun.lock
  package.json
  web/src/app.d.ts
  web/src/routes/api/[...paths]/+server.ts
Due: gitleaks, biome-fmt, biome-lint
