Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

lefthook.yml:

# NOTE:
# please update `.github/workflows` when updating this file.

pre-commit:
  parallel: true
  commands:
    # general/security
    gitleaks:
      glob: "*"
      run: gitleaks git --verbose --staged
    # JS
    biome-fmt:
      tags: js style
      glob: "*.{js,ts,jsx,tsx}"
      run: biome format --fix {staged_files}
      stage_fixed: true
    biome-lint:
      tags: js lint
      glob: "*.{js,ts,jsx,tsx}"
      run: biome lint {staged_files}
    # Nix
    alejandra:
      tags: nix style
      glob: "*.nix"
      run: alejandra {staged_files}
      stage_fixed: true
    deadnix:
      tags: nix lint
      glob: "*.nix"
      run: deadnix --fail {staged_files}
    statix:
      tags: nix lint
      glob: "*.nix"
      run: statix check .

fix
  service/validator/schemas.ts
  service/worker-configuration.d.ts
Due: gitleaks, biome-fmt, biome-lint

fix: throw if it failed to create project
  web/src/routes/new/+page.svelte
Due: gitleaks

fix type error
  service/index.ts
  service/routes/projects.ts
  service/routes/sample.ts
  web/src/routes/+page.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/created/+page.ts
  web/src/routes/sample/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix(dev): move index.ts
  service/package.json
Due: gitleaks

fix
  service/index.ts
  service/package.json
Due: gitleaks, biome-fmt, biome-lint

fix post pref api
  service/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

minとmaxを満たすかのテスト、全探索による最大重みマッチングのロジック
  share/logic/min-flow.test.ts
  share/logic/min-flow.ts
Due: gitleaks, biome-fmt, biome-lint

各種登録フォームを実装 (#8)
  service/db/schema.ts
  service/index.ts
  service/routes/projects.ts
  service/routes/sample.ts
  service/validator/schemas.ts
  service/worker-configuration.d.ts
  web/src/app.css
  web/src/routes/+page.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/[projectId]/submit/+page.ts
  web/src/routes/created/+layout.ts
  web/src/routes/created/+page.svelte
  web/src/routes/created/+page.ts
  web/src/routes/done/+page.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix
  service/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

delete src
  service/src/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

fix conflicting rule
  biome.jsonc
Due: gitleaks

delete sample
  web/src/routes/sample/+page.svelte
Due: gitleaks

Feat/config close (#20)
  biome.jsonc
  web/src/routes/+page.svelte
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks

result表示できるのか！？ (#18)
  bun.lock
  package.json
  service/db/client.ts
  service/local.db
  service/routes/projects.ts
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

rm: remove DB_KIND from env
  .env.sample
  service/db/client.ts
Due: gitleaks, biome-fmt, biome-lint

トップページを実装
  service/routes/projects.ts
  web/src/routes/+page.svelte
  web/src/routes/+page.ts
Due: gitleaks, biome-fmt, biome-lint

scripts: use bun --bun
  web/package.json
Due: gitleaks

perf: initial page landing is slow
  web/src/routes/+page.svelte
  web/src/routes/+page.ts
Due: gitleaks, biome-fmt, biome-lint

fix: check failing
  web/src/routes/[projectId]/config/+page.svelte
Due: gitleaks

トップページを実装 (#21)
  service/routes/projects.ts
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

minとmaxを満たすかのテスト、全探索による最大重みマッチングのロジック (#22)
  share/logic/min-flow.test.ts
  share/logic/min-flow.ts
Due: gitleaks, biome-fmt, biome-lint

create config button
  web/src/routes/+page.svelte
Due: gitleaks

feat: add validation to /new
  web/src/routes/created/+page.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks

description修正
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks

resultpageがprojectnameを表示するようになるはず
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks

feat(UX): leave max and min input to undefined by default
  web/src/routes/new/+page.svelte
Due: gitleaks

コンマ入れる
  service/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

result pageのほうも修正
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks

feat(ux): validate before sending new project data
  service/routes/projects.ts
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

dev: move all schemas into share/schema.ts
  service/routes/projects.ts
  service/validator/schemas.ts
  share/schema.ts
  web/src/routes/[projectId]/result/+page.svelte
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix: flake: install nodejs-slim for drizzle-kit
  service/worker-configuration.d.ts
  shell.nix
Due: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

not working
  service/routes/projects.ts
  web/src/routes/[projectId]/config/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

feat: generate valid URL instead of hard-coded localhost:5173
  .env.sample
  share/schema.ts
  web/src/api/origins.svelte.ts
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/result/+page.svelte
  web/src/routes/created/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix: min's min is now 0 and max's min is 1. it was swapped
  share/schema.ts
Due: gitleaks, biome-fmt, biome-lint

fix(tsc): enable noUncheckedIndexedAccess
  service/routes/projects.ts
  service/tsconfig.json
Due: gitleaks, biome-fmt, biome-lint

fix: use credentials: include only when it's on browser
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

fix: use fetch in client.ts
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

Result page improvement (#23)
  service/routes/projects.ts
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix
  web/src/routes/[projectId]/result/+page.svelte
Due: gitleaks
