Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, cf-typegen, prettier, biome-lint, alejandra, deadnix, statix

gitleaks:
  run: gitleaks git --verbose --staged

cf-typegen:
  run: cd service; bun run cf-typegen
  stage_fixed: true

prettier:
  tags: js style
  run: bun prettier {staged_files} --write
  stage_fixed: true

biome-lint:
  tags: js lint
  run: biome lint {staged_files}

alejandra:
  tags: nix style
  run: alejandra {staged_files}
  stage_fixed: true

deadnix:
  tags: nix lint
  run: deadnix --fail {staged_files}

statix:
  tags: nix lint
  run: statix check .

migrate db: migrate to turso
  .env.sample
  service/db/client.ts
  service/drizzle.config.ts
  shell.nix
Due: gitleaks, prettier, biome-lint, alejandra, deadnix, statix

fix: local development no longer requires token
  service/db/client.ts
  service/lib.ts
Due: gitleaks, prettier, biome-lint

rename command bun db -> bun db:dev
  README.md
  package.json
Due: gitleaks, prettier

chore: update deps
  bun.lock
  package.json
  service/package.json
  web/package.json
Due: gitleaks, prettier

chore: update flake
  flake.lock
  flake.nix
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

feat: submission table
  package.json
  service/db/client.ts
  share/schema.ts
  web/src/components/admin-list.svelte
  web/src/components/header.svelte
  web/src/components/participant-list.svelte
  web/src/components/participant-table.svelte
  web/src/components/role-editor.svelte
  web/src/components/role-list.svelte
  web/src/components/theme-toggle.svelte
  web/src/lib/origins.svelte.ts
  web/src/mock-data.ts
  web/src/pages/config/page.svelte
  web/src/pages/participant-table/page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/[projectId]/table/+page.svelte
  web/src/routes/[projectId]/table/+page.ts
  web/src/routes/debug/+page.svelte
  web/src/routes/debug/config/+page.svelte
  web/src/routes/debug/config/mock.svelte.ts
  web/src/routes/debug/role-list/+page.svelte
  web/src/routes/debug/table/+page.svelte
  web/src/routes/new/+page.svelte
  web/src/routes/new/_components/roles-list.svelte
Due: gitleaks, prettier, biome-lint

人数を一括入力
  web/src/routes/new/FormController.svelte.ts
  web/src/routes/new/_components/roles-list.svelte
Due: gitleaks, prettier, biome-lint

人数を一括入力 (#64)
  web/src/routes/new/FormController.svelte.ts
  web/src/routes/new/_components/roles-list.svelte
Due: gitleaks, prettier, biome-lint

feat: login
  bun.lock
  service/db/models/admins.ts
  service/db/models/participants.ts
  service/db/models/projects.ts
  service/db/models/ratings.ts
  service/db/schema.ts
  service/features/auth/better-auth.ts
  service/features/auth/index.ts
  service/features/auth/rules.ts
  service/index.ts
  service/package.json
  service/routes/auth.ts
  service/routes/projects/index.ts
  share/schema.ts
  web/package.json
  web/src/components/auth/google-login-button.svelte
  web/src/components/auth/header-auth-indicator.svelte
  web/src/components/header.svelte
  web/src/data/client.ts
  web/src/lib/auth-utils.svelte.ts
  web/src/lib/auth.ts
  web/src/lib/use-action.svelte.ts
  web/src/routes/+layout.svelte
  web/src/routes/debug/config/mock.svelte.ts
  web/src/routes/signin/+page.svelte
  web/src/routes/signin/controller.svelte.ts
Due: gitleaks, prettier, biome-lint

feat: add login requirement for project submission
  web/src/routes/[projectId]/submit/+page.svelte
Due: gitleaks, prettier, biome-lint

some minor adjustment
  web/src/components/auth/header-auth-indicator.svelte
  web/src/components/header.svelte
  web/src/lib/auth-utils.svelte.ts
  web/src/lib/use-action.svelte.ts
  web/src/pages/submit/page.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/debug/+page.svelte
  web/src/routes/debug/submit/+page.svelte
  web/src/routes/signin/+page.svelte
  web/src/routes/signin/controller.svelte.ts
Due: gitleaks, prettier, biome-lint

update .env.sample
  .env.sample
Due: gitleaks

delete build workflow
  .github/workflows/build.yml
Due: gitleaks

fix build warnings
  service/routes/projects/index.ts
  web/src/lib/use-action.svelte.ts
  web/src/pages/submit/page.svelte
Due: gitleaks, prettier, biome-lint

feat: login (#65)
  .env.sample
  .github/workflows/build.yml
  bun.lock
  service/db/models/admins.ts
  service/db/models/participants.ts
  service/db/models/projects.ts
  service/db/models/ratings.ts
  service/db/schema.ts
  service/features/auth/better-auth.ts
  service/features/auth/index.ts
  service/features/auth/rules.ts
  service/index.ts
  service/package.json
  service/routes/auth.ts
  service/routes/projects/index.ts
  share/schema.ts
  web/package.json
  web/src/components/auth/google-login-button.svelte
  web/src/components/auth/header-auth-indicator.svelte
  web/src/components/header.svelte
  web/src/data/client.ts
  web/src/lib/auth-utils.svelte.ts
  web/src/lib/auth.ts
  web/src/lib/use-action.svelte.ts
  web/src/pages/submit/page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/debug/+page.svelte
  web/src/routes/debug/config/mock.svelte.ts
  web/src/routes/debug/submit/+page.svelte
Due: gitleaks, prettier, biome-lint

Path conditions:
  gitleaks: any of: *
  cf-typegen: any of: **/wrangler.toml
  prettier: any of: *.{js,ts,svelte,json,jsonc,yaml,html,md}
  biome-lint: any of: *.{js,ts,jsx,tsx,svelte}
  alejandra: any of: *.nix
  deadnix: any of: *.nix
  statix: any of: *.nix
