Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

gitleaks:
  run: gitleaks git --verbose --staged

biome-fmt:
  tags: js style
  run: biome format --fix {staged_files}
  stage_fixed: true

biome-lint:
  tags: js lint
  run: biome lint {staged_files}

alejandra:
  tags: nix style
  run: alejandra {staged_files}
  stage_fixed: true

deadnix:
  tags: nix lint
  run: deadnix --fail {staged_files}

statix:
  tags: nix lint
  run: statix check .

doc: append to tech stack
  README.md
Due: gitleaks

CI: fixed failing CIs and add some
  .github/workflows/build.yml
  .github/workflows/static.yml
  .github/workflows/test.yml
Due: gitleaks

ci: rename test ci to Test/Tests
  .github/workflows/test.yml
Due: gitleaks

ci: hack: install service packages before web checks
  .github/workflows/static.yml
Due: gitleaks

service/db: make the file names clearer
  service/cmd/dev.ts
  service/db/client.ts
  service/db/local.ts
Due: gitleaks, biome-fmt, biome-lint

db: change how we manage dbs
  service/.env
  service/cmd/dev.ts
  service/db/client.ts
  service/package.json
  service/src/app.ts
  service/tsconfig.json
  service/utils/env.ts
  service/utils/panic.ts
Due: gitleaks, biome-fmt, biome-lint

flake: install litecli, a feature-rich sqlite client
  .gitignore
  flake.nix
Due: gitleaks, alejandra, deadnix, statix

nix: allow fallback for shell.nix in case user can't use flakes
  .envrc
  flake.nix
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

update flake inputs and flake: bun is 1.2.0
  flake.lock
  flake.nix
Due: gitleaks, alejandra, deadnix, statix

fmt: set formatter to deno; deno: set tab width = 120; format using deno
  .helix/languages.toml
  README.md
  deno.jsonc
  service/README.md
Due: gitleaks

delete service/README
  service/README.md
Due: gitleaks

web: uninstall unnecessary packages
  web/bun.lock
  web/package.json
Due: gitleaks

doc: enhance README
  README.md
Due: gitleaks

editorconfig/helix: add deno langserver entry
  .helix/languages.toml
Due: gitleaks

doc: write nix installation method
  README.md
  docs/install-nix.md
Due: gitleaks

dev/format: setup treefmt
  .github/workflows/build.yml
  .github/workflows/static.yml
  .github/workflows/test.yml
  README.md
  docs/install-nix.md
  flake.lock
  flake.nix
  justfile
  treefmt.nix
Due: gitleaks, alejandra, deadnix, statix

flake: update flake: bun 1.2.0 -> 1.2.2 etc
  flake.lock
Due: gitleaks

web: update bun.lock
  web/bun.lock
Due: gitleaks

just: fix build-svelte
  justfile
Due: gitleaks

just/fix: rename worker -> service
  justfile
Due: gitleaks

check: fix check not passing
  service/bun.lock
  service/cmd/dev.ts
  service/db/client.ts
  service/index.ts
  service/src/app.ts
  service/tsconfig.json
  service/utils/env.ts
Due: gitleaks, biome-fmt, biome-lint

just: add dev command
  justfile
Due: gitleaks

upgrade sample
  .helix/languages.toml
  biome.jsonc
  justfile
  service/.env.example
  service/db/client.ts
  service/db/schema.ts
  service/src/app.ts
  web/src/api/types.ts
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

biome: allow console.log
  biome.jsonc
Due: gitleaks

fix: fix check
  service/src/app.ts
  web/bun.lock
  web/package.json
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

fix(lint): disable undeclared variable
  biome.jsonc
  service/cmd/dev.ts
Due: gitleaks, biome-fmt, biome-lint

github/workflows: add lockfile check
  .github/workflows/test.yml
Due: gitleaks

init wrangler
  biome.jsonc
  justfile
  lefthook.yml
  service/.gitignore
  service/bun.lock
  service/index.ts
  service/package.json
  service/src/app.ts
  service/tsconfig.json
  service/worker-configuration.d.ts
  service/wrangler.toml
Due: gitleaks, biome-fmt, biome-lint

simple: simplify service exports by merging index.ts and src/app.ts
  service/cmd/dev.ts
  service/index.ts
  service/src/index.ts
  service/wrangler.toml
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

can't get env vars to work
  justfile
  service/.dev.vars.sample
  service/db/client.ts
  service/src/index.ts
  service/utils/env.ts
  service/worker-configuration.d.ts
  service/wrangler.toml
Due: gitleaks, biome-fmt, biome-lint

fmt: format
  biome.jsonc
  service/db/client.ts
  service/src/index.ts
  service/utils/env.ts
Due: gitleaks, biome-fmt, biome-lint

dev: add .env.sample
  service/.env.sample
Due: gitleaks

participant を登録できるように
  service/db/schema.ts
  service/insertParticipant.ts
  service/package-lock.json
  service/package.json
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

make scheme and api
  service/db/schema.ts
  service/insertParticipant.ts
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

メインとマージ
  package-lock.json
  service/bun.lock
  service/package-lock.json
  service/package.json
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

just check passed
  service/db/schema.ts
  service/src/index.ts
  web/src/api/types.ts
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

just check passed
  .github/workflows/test.yml
Due: gitleaks

just: fix execution order
  justfile
Due: gitleaks

github/workflows: fix lockfile checks to only run install-bun
  .github/workflows/test.yml
  justfile
Due: gitleaks

Make db (#1)
  .github/workflows/test.yml
  justfile
  package-lock.json
  service/bun.lock
  service/db/schema.ts
  service/package.json
  service/src/index.ts
  web/src/api/types.ts
  web/src/routes/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

Path conditions:
  gitleaks: any of: *
  biome-fmt: any of: *.{js,ts,jsx,tsx}
  biome-lint: any of: *.{js,ts,jsx,tsx}
  alejandra: any of: *.nix
  deadnix: any of: *.nix
  statix: any of: *.nix
