Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

gitleaks:
  run: gitleaks git --verbose --staged

biome-fmt:
  tags: js style
  run: biome format --fix {staged_files}
  stage_fixed: true

biome-lint:
  tags: js lint
  run: biome lint {staged_files}

alejandra:
  tags: nix style
  run: alejandra {staged_files}
  stage_fixed: true

deadnix:
  tags: nix lint
  run: deadnix --fail {staged_files}

statix:
  tags: nix lint
  run: statix check .

FIX: Hono can't find cloudflare bindings
  bun.lock
  package.json
  web/src/app.d.ts
  web/src/routes/api/[...paths]/+server.ts
Due: gitleaks, biome-fmt, biome-lint

endpointの実装 (#4)
  service/db/schema.ts
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  service/tsconfig.json
  web/src/routes/+page.svelte
  web/src/scripts/service-conn-test.ts
Due: gitleaks, biome-fmt, biome-lint

fix: 開発時の CORS Error を回避
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

fix: fix add-user-sample
  web/src/routes/+page.svelte
Due: gitleaks

fix: 開発時の CORS Error を回避 (#6)
  service/src/index.ts
Due: gitleaks, biome-fmt, biome-lint

fix: fix add-user-sample (#7)
  web/src/routes/+page.svelte
Due: gitleaks

feat: move sample page
  web/src/routes/+page.svelte
  web/src/routes/sample/+page.svelte
Due: gitleaks

hotfix: use c.env instead of process.env
  service/src/index.ts
  service/src/types.ts
Due: gitleaks, biome-fmt, biome-lint

feat: /new
  service/db/schema.ts
  service/src/routes/projects.ts
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

feat: created ページ
  service/src/routes/projects.ts
  web/src/app.css
  web/src/routes/+page.svelte
  web/src/routes/created/+page.svelte
  web/src/routes/created/+page.ts
  web/src/routes/new/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

feat: rm local.db before create local db
  package.json
Due: gitleaks

set --force flag in bun local-db
  package.json
Due: gitleaks

flake: add wrangler
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

rm local db before local db (#9)
  package.json
Due: gitleaks

flake: add wrangler (#10)
  shell.nix
Due: gitleaks, alejandra, deadnix, statix

style: make sqlite table names follow sql convention
  biome.jsonc
  service/db/schema.ts
  service/drizzle.config.ts
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  web/postcss.config.js
  web/svelte.config.js
  web/vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

style: make sqlite table names follow sql convention (#11)
  biome.jsonc
  service/db/schema.ts
  service/drizzle.config.ts
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  web/postcss.config.js
  web/svelte.config.js
  web/vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

wip
  web/src/icons/Chain.svg
  web/src/routes/[projectId]/config/+page.svelte
Due: gitleaks

perf: launch web before service in devel
  package.json
Due: gitleaks

feat: project config menu
  service/src/index.ts
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/config/+page.ts
Due: gitleaks, biome-fmt, biome-lint

feat: project config page (#12)
  package.json
  service/src/index.ts
  web/src/icons/Chain.svg
  web/src/routes/[projectId]/config/+page.svelte
  web/src/routes/[projectId]/config/+page.ts
Due: gitleaks, biome-fmt, biome-lint

fix(cors): actually detect it from env and allow multiple origin
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/types.ts
  service/utils/env.ts
Due: gitleaks, biome-fmt, biome-lint

sesson_id の発行
  service/db/schema.ts
  service/src/index.ts
  service/src/routes/projects.ts
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

install
  bun.lock
  service/package.json
Due: gitleaks

replace z with v
  biome.jsonc
  bun.lock
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  web/package.json
Due: gitleaks, biome-fmt, biome-lint

sesson id を用いて、/:projectIdを叩ける人の制限ができるように
  service/src/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

create validator and validate all requests
  service/src/routes/projects.ts
  service/tsconfig.json
  service/validator/hono.ts
  service/validator/schemas.ts
Due: gitleaks, biome-fmt, biome-lint

create schemas
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  service/validator/schemas.ts
Due: gitleaks, biome-fmt, biome-lint

install valibot (#14)
  biome.jsonc
  bun.lock
  service/package.json
  service/src/routes/projects.ts
  service/src/routes/sample.ts
  service/tsconfig.json
  service/validator/hono.ts
  service/validator/schemas.ts
  web/package.json
Due: gitleaks, biome-fmt, biome-lint

fix(cors): actually detect it from env and allow multiple origin (#13)
  service/src/index.ts
  service/src/routes/projects.ts
  service/src/types.ts
  service/utils/env.ts
Due: gitleaks, biome-fmt, biome-lint

GETの部分
  .env.sample
  web/src/routes/[projectId]/submit/+page.svelte
Due: gitleaks

rename: session_id → browser_id
  service/db/schema.ts
  service/src/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

refactor: remove unnecessary imports
  service/src/routes/projects.ts
Due: gitleaks, biome-fmt, biome-lint

fix: handle 404 and format + lint
  .env.sample
  service/src/routes/projects.ts
  web/src/app.css
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/created/+page.ts
Due: gitleaks, biome-fmt, biome-lint

experiment: disable prerendering
  web/src/routes/created/+layout.ts
Due: gitleaks, biome-fmt, biome-lint

fix: submit-page api
  service/db/schema.ts
  service/src/routes/projects.ts
  web/src/routes/[projectId]/submit/+page.svelte
  web/src/routes/created/+page.svelte
Due: gitleaks, biome-fmt, biome-lint

init: create sub-package share
  share/.gitignore
  share/bun.lock
  share/package.json
  share/tsconfig.json
Due: gitleaks

doc: update doc
  README.md
Due: gitleaks

doc: update README
  README.md
Due: gitleaks

fix: request cookies blocked by CORS policy
  service/src/index.ts
  web/src/api/client.ts
Due: gitleaks, biome-fmt, biome-lint

Path conditions:
  gitleaks: any of: *
  biome-fmt: any of: *.{js,ts,jsx,tsx}
  biome-lint: any of: *.{js,ts,jsx,tsx}
  alejandra: any of: *.nix
  deadnix: any of: *.nix
  statix: any of: *.nix
