Repository ut-code/how-match: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome-fmt, biome-lint, alejandra, deadnix, statix

lefthook.yml:

# NOTE:
# please update `.github/workflows` when updating this file.

pre-commit:
  parallel: true
  commands:
    # general/security
    gitleaks:
      glob: "*"
      run: gitleaks git --verbose --staged
    # JS
    biome-fmt:
      tags: js style
      glob: "*.{js,ts,jsx,tsx}"
      run: biome format --fix {staged_files}
      stage_fixed: true
    biome-lint:
      tags: js lint
      glob: "*.{js,ts,jsx,tsx}"
      run: biome lint {staged_files}
    # Nix
    alejandra:
      tags: nix style
      glob: "*.nix"
      run: alejandra {staged_files}
      stage_fixed: true
    deadnix:
      tags: nix lint
      glob: "*.nix"
      run: deadnix --fail {staged_files}
    statix:
      tags: nix lint
      glob: "*.nix"
      run: statix check .

fix: static.yml where it used run: actions/checkout instead of uses: actions/checkout
  .github/workflows/static.yml
Due: gitleaks

fix: static.yml where it passed --staged flag to gitleaks which doesnt exist
  .github/workflows/static.yml
Due: gitleaks

fix: static.yml where the flags were passed to nix run rather than each cmd
  .github/workflows/static.yml
Due: gitleaks

fix static.yml where --fail was passed to statix while it shouldn't be
  .github/workflows/static.yml
Due: gitleaks

biome: adjust config and rename biome.json -> biome.jsonc
  biome.jsonc
Due: gitleaks

init worker
  worker/.gitignore
  worker/README.md
  worker/bun.lock
  worker/package.json
  worker/src/app.ts
  worker/tsconfig.json
Due: gitleaks, biome-fmt, biome-lint

init sveltekit
  .env.example
  .gitignore
  .npmrc
  README.md
  assets/favicon.png
  assets/robots.txt
  biome.jsonc
  bun.lockb
  drizzle.config.ts
  package.json
  postcss.config.js
  src/app.css
  src/app.d.ts
  src/app.html
  src/lib/images/github.svg
  src/lib/images/svelte-logo.svg
  src/lib/images/svelte-welcome.png
  src/lib/images/svelte-welcome.webp
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/Counter.svelte
  src/routes/Header.svelte
  src/routes/about/+page.svelte
  src/routes/about/+page.ts
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.svelte
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/words.server.ts
  svelte.config.js
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

move to text bun.lock
  bun.lock
  bun.lockb
  bunfig.toml
Due: gitleaks

fixed site not building
  .gitignore
  bun.lock
  package.json
  src/app.css
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/Counter.svelte
  src/routes/Header.svelte
  src/routes/about/+page.svelte
  src/routes/about/+page.ts
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.svelte
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/words.server.ts
  svelte.config.js
  tsconfig.json
  worker/src/app.ts
Due: gitleaks, biome-fmt, biome-lint

delete some comments
  svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

create workflow
  .github/workflows/build.yml
Due: gitleaks

move drizzle to worker/
  bun.lock
  package.json
  worker/bun.lock
  worker/drizzle.config.ts
  worker/package.json
  worker/src/db/index.ts
  worker/src/db/schema.ts
Due: gitleaks, biome-fmt, biome-lint

flake: install just
  flake.nix
Due: gitleaks, alejandra, deadnix, statix

init justfile
  justfile
Due: gitleaks

rename worker -> service, call service type from sveltekit
  bun.lock
  package.json
  service/.gitignore
  service/README.md
  service/bun.lock
  service/drizzle.config.ts
  service/package.json
  service/src/app.ts
  service/src/db/index.ts
  service/src/db/schema.ts
  service/tsconfig.json
  src/api/sample.ts
Due: gitleaks, biome-fmt, biome-lint

create CI: check.yml
  .github/workflows/check.yml
Due: gitleaks

fix service depending on svelte
  service/src/app.ts
  service/src/db/index.ts
  src/api/sample.ts
Due: gitleaks, biome-fmt, biome-lint

update packages (minor only)
  bun.lock
  package.json
  service/bun.lock
  service/package.json
Due: gitleaks

got it to running
  service/package.json
  service/src/app.ts
  service/surfaces/bun.ts
  src/api/sample.ts
Due: gitleaks, biome-fmt, biome-lint

setup done
  src/api/client.ts
  src/scripts/service-conn-test.ts
  svelte.config.js
  tsconfig.json
Due: gitleaks, biome-fmt, biome-lint

move sveltekit stuff to web/ for clarity
  .gitignore
  service/bun.lock
  web/.env.example
  web/.gitignore
  web/.npmrc
  web/assets/favicon.png
  web/assets/robots.txt
  web/bun.lock
  web/package.json
  web/postcss.config.js
  web/src/api/client.ts
  web/src/app.css
  web/src/app.d.ts
  web/src/app.html
  web/src/lib/images/github.svg
  web/src/lib/images/svelte-logo.svg
  web/src/lib/images/svelte-welcome.png
  web/src/lib/images/svelte-welcome.webp
  web/src/routes/+page.svelte
  web/src/routes/+page.ts
  web/src/scripts/service-conn-test.ts
  web/svelte.config.js
  web/tailwind.config.ts
  web/tsconfig.json
  web/vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

rename surfaces -> adapters for clarity
  service/adapters/bun.ts
Due: gitleaks, biome-fmt, biome-lint

service: create index.ts that re-exports app and type App for easier refactor later
  service/adapters/bun.ts
  service/index.ts
  service/package.json
  web/src/api/client.ts
  web/tsconfig.json
Due: gitleaks, biome-fmt, biome-lint

write README
  README.md
Due: gitleaks

write about just in readme and write some just script
  README.md
  justfile
Due: gitleaks

fix db configs
  .ignore
  service/.env
  service/.gitignore
  service/bun.lock
  service/cmd/dev.ts
  service/db/index.ts
  service/db/schema.ts
  service/drizzle.config.ts
  service/index.ts
  service/package.json
  service/src/app.ts
  service/src/db/index.ts
Due: gitleaks, biome-fmt, biome-lint

config drizzle to use .drizzle as out dir
  service/.gitignore
  service/drizzle.config.ts
  service/package.json
Due: gitleaks, biome-fmt, biome-lint

db: alter schema
  service/db/schema.ts
Due: gitleaks, biome-fmt, biome-lint

fix cmd/dev
  service/cmd/dev.ts
  service/db/local.ts
Due: gitleaks, biome-fmt, biome-lint

web: setup tailwind (v4) + daisyui (v5-beta), and config biome to accept svelte files
  biome.jsonc
  lefthook.yml
  service/db/schema.ts
  service/package.json
  web/bun.lock
  web/package.json
  web/postcss.config.js
  web/src/app.css
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/tailwind.config.ts
  web/tsconfig.json
  web/vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

set biome rules to all and fix lint errors (by ignoring some)
  .gitignore
  biome.jsonc
  service/cmd/dev.ts
  service/drizzle.config.ts
  service/package.json
  service/tsconfig.json
  web/.gitignore
  web/package.json
  web/postcss.config.js
  web/src/app.d.ts
  web/src/scripts/service-conn-test.ts
  web/svelte.config.js
  web/tsconfig.json
  web/vite.config.ts
Due: gitleaks, biome-fmt, biome-lint

fix biome config: some LS doesn't support package.json as jsonc yet
  .helix/languages.toml
  biome.jsonc
  service/package.json
  web/package.json
  web/src/routes/+page.svelte
Due: gitleaks

web: rename adapter -> staticAdapter
  web/svelte.config.js
Due: gitleaks, biome-fmt, biome-lint

move export prerender = true; to routes/+layout.ts
  web/src/routes/+layout.ts
Due: gitleaks, biome-fmt, biome-lint

wip: replace biome format with deno
  .github/workflows/build.yml
  .github/workflows/static.yml
  .helix/languages.toml
  README.md
  biome.jsonc
  deno.jsonc
  flake.nix
  justfile
  lefthook.yml
  service/README.md
  service/tsconfig.json
  web/src/app.html
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/tsconfig.json
Due: gitleaks, alejandra, deadnix, statix

CI: use deno for formatter
  .github/workflows/static.yml
  biome.jsonc
Due: gitleaks

append to just script
  README.md
  justfile
Due: gitleaks

update README
  README.md
Due: gitleaks

run svelte checks on CI
  .github/workflows/check.yml
  .github/workflows/static.yml
  web/tsconfig.json
Due: gitleaks

run type checks on just check
  README.md
  justfile
  service/package.json
Due: gitleaks
